.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5px;
}
body {
    background-image: url(../images/blue.jpg);
    background-size: cover;
}

h4, #display {
    background-color: black;
    color: white;
}
table {
    background-color: black;
    color: white;
}
th, tr {
    color: white;
}

.card, .form-control {
    background-color: black;
    color: white;
}

.form-row {
    width: 200%;
}
button#submit {
    margin-top: 10px;
}