.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5px;
}
body {
    background-image: url(../images/terminal.jpg)
}
.form-row {
    width: 500px;
}
h4, #display {
    background-color: black;
    color: white;
}
table {
    background-color: black;
    color: white;
}
th, tr {
    color: white;
}

button#submit {
    margin-top: 10px;
}